.Toxic .hellboy{
    background: grey;
    height: 400px;
    width: 500px;
}
.Toxic,tr,td,.hellboy{
    border: 1px solid black;
    background: grey;
    border-collapse: collapse;
    padding: 5px;
}
.Title{
    font-size: 24px;
}
img{
    width: 350px;
}
tbody,tr,td:nth-child(1){
    width: 350px;
}